.card-pilar {
    display: flex;
    max-width: 341px;
    flex-direction: column;
    border-radius: 10px;

    @media (min-width:768px) {
        &:hover {
            box-shadow: 0 0 20px 2px rgb(133, 29, 134);

        }
    }

    @media (min-width: 1024px) {
        max-width: 397px;
    }

    .card-header {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        padding: 2rem 5.6rem;
        border-radius: 10px 10px 0px 0px;
        background: linear-gradient(225deg, rgb(0, 72, 254) 0%, rgb(133, 29, 134) 100%);
        transition: 0.1s ease-in-out;

        @media (min-width:768px) {
            &:hover {
                background: rgb(226, 226, 226);
                color: rgb(31, 29, 43);
    
            }
        }

        @media (min-width: 1024px) {
            //padding: 4rem 9.2rem;
        }

        h3 {
            font-size: 24px;
            font-weight: 700;
        }
    }

    .card-body {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        padding: 1.6rem;
        border-radius: 0px 0px 10px 10px;
        background: linear-gradient(225deg, rgba(0, 72, 254, 0.1) 0%, rgba(133, 29, 134, 0.1) 100%);

        @media (min-width: 1024px) {
            padding: 1.8rem;
        }

        p {
            font-size: 16px;
            line-height: 150%;
            text-align: center;

            @media (min-width: 1024px) {
                font-size: 18px;
            }
        }
    }
}